<% layout('templates/viewTemplate') %>
<div class="row">
    <div class="col-12">
        <form action="/setup/clearcache" method="POST">
            <button class="btn btn-secondary">Clear Cache</button>
        </form>
    </div>
</div>